<!-- templates/registration/logout.html -->
{% extends "base.html" %}
{% block title %}Logout{% endblock %}

{% block content %}
<style>
    .auth-form {
        background: white;
        padding: 30px;
        margin: 50px auto;
        width: 100%;
        max-width: 400px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .auth-form h2 {
        margin-bottom: 15px;
    }
    .buttons {
        display: flex;
        gap: 20px;
        text-align: center;
        justify-content: center;

    }
    .auth-form a {
        display: inline-block;
        margin-top: 10px;
        padding: 10px 15px;
        background-color: #068116;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }

    .auth-form a:hover {
        background-color: #13e941;
    }
</style>

<div class="auth-form">
    <h4>You have been logged out.</h4>
    <div class="buttons">
        <p><a href="{% url 'login' %}">Login</a></p><br>
        <p><a href="{% url 'register' %}">Register</a></p>
    </div>
</div>
{% endblock %}
