{% extends 'base.html' %}

{% block title %}Company Dashboard{% endblock %}

{% block header %}Welcome, {{ user.username }} (Company){% endblock %}



{% block content %}
<div class="dashboard-container">
    <h3>Company Dashboard</h3>
    
     <div class="dashboard-actions">
            <a href="{% url 'post_attachment' %}" class="btn">Post Attachment</a>
            <a href="{% url 'all_attachment_posts' %}" class="btn">View Attachments</a>
            <a href="{% url 'my_attachment_posts' %}" class="btn">My Posts</a>

      </div>
</div>

    <style>
    .dashboard-container {
        padding: 20px;
        text-align: center;
        margin-top: 60px;
    }

    .dashboard-actions {
        margin-top: 30px;
    }
    h3 {
        text-align: center;
    }
    .btn {
        display: inline-block;
        margin: 10px;
        padding: 12px 20px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 6px;
    }

    .btn:hover {
        background-color: #0056b3;
    }
</style>
{% endblock %}
    


    