{% extends "base.html" %}
{% block content %}

<div class="delete-confirm-box">
  <h3>⚠️ Confirm Deletion</h3>
  {% if messages %}
        {% for message in messages %}
            {% if "delete_house" in message.tags %}
                <div class="alert alert-{{message.level_tag}}">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
  <p>Are you sure you want to delete <strong>{{ house.title }}</strong>?</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Yes, Delete</button>
    <a href="{% url 'my_houses' %}" class="btn btn-secondary">Cancel</a>
  </form>
</div>
{% endblock %}
