{% extends 'base.html' %}
{% block content %}
<div class="booking-container">
  <h2>Edit Booking</h2>
  {% if messages %}
        {% for message in messages %}
            {% if "edit_booking" in message.tags %}
                <div class="alert alert-{{message.level_tag}}">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn-edit">Update Booking</button>
    <a href="{% url redirect_url %}" class="btn-cancel" style="margin-left: 10px;">Cancel</a>
  </form>
</div>


{% endblock %}