{% extends "base.html" %}
{% block content %}
<div class="attachment-card text-center">
    <h1>Attachment Opportunities</h1>
  <div class="search-sort">
    <form method="get">
      <input type="text" name="q" placeholder="Search by title or location" value="{{ query|default_if_none:'' }}">
      <button class="btn-primary" type="submit">Search</button>
      <select name="sort" onchange="this.form.submit()">
        <option value="description" {% if sort == 'description' %}selected{% endif %}>Description</option>
        <option value="comany_name" {% if sort == 'company_name' %}selected{% endif %}>Company</option>
        <option value="location" {% if sort == 'location' %}selected{% endif %}>Location</option>
        <option value="application_deadline" {% if sort == 'application_deadline' %}selected{% endif %}>Deadline</option>
      </select>
    </form>
  </div>
  <div class="attachment-grid">
    {% for att in page_obj %}
      <div class="attachment-card">
        <div class="attachment-title">{{ att.title }}</div>
        <div class="attachment-info">Company: {{ att.company }}</div>
        <div class="attachment-info">Location: {{ att.location }}</div>
        <div class="attachment-info">Description: {{ att.description }}</div>
        <div class="attachment-info">Deadline: {{ att.application_deadline }}</div>
        {% if att.is_eapired %}
          <span class="tag tag-soon">Deadline Passed</span>
        {% elif att.is_soon %}
          <span class="tag tag-soon">Closing Soon</span>
        {% else %}
          <span class="tag tag-upcoming">Open</span>
        {% endif %}
        {% if att.link %}
          <a href="{{ att.link }}" class="attachment-link" target="_blank" aria-label="Apply for {{ att.title }}">View More / Apply</a>
        {% endif %}
      </div>
    {% empty %}
      <p>No attachments found.</p>
    {% endfor %}
  </div>
</div>

<style>
  .attachment-card {
    background-color: aliceblue;
    border-radius: 15px;
    outline: none;
  }
  .search-sort input{
    border-radius: 15px;
    outline: none;
    border: 2px solid blueviolet;
  }
  .search-sort button{
    color: white;
    border-radius: 15px;
    padding: 4px 7px;
  }
  
</style>

{% endblock %}