{% extends 'base.html'%}
{% block content %}
<div class="attachees-form">
    <h3>Apply For Attachment</h3>
    <form action="">
        <label for="name">Name :</label>
        <input type="text" name="naem" placeholder="Enter your name " required><br>

        <label for="email">Email :</label>
        <input type="text" name="email" placeholder="Enter your email" required><br>

        <label for="phone-number">Phone Number</label>
        <input type="number" name="phone-number" placeholder="Enter your phone-number" required ><br>

        <label for="institution">Institution :</label>
        <input type="text" name="Institution" placeholder="Enter name for your institution" required><br>

        <label for="course">Course :</label>
        <input type="text" name="course" placeholder="Enter your course" required><br>

        <label for="year of study">Year of Study :</label>
        <input type="number" name="year of study" placeholder="Enter your current year of study" required><br>

        <label for="start-date">Start Date :</label>
        <input type="date" name="date" placeholder="Enter your start-date" required><br>

        <button type="submit">Apply</button>
    </form>
</div>
<style>
    .attachees-form{
        background-color: white;
        height: 100vh;
        width: 60%;
        border-radius: 5px;
        align-items: center;

    }
    h3{
        color: blue;
        font
    }

</style>
{% endblock %}