{% extends 'base.html'%}
{% block content %}
<div class="form-section" id="firmform">
    <h2>Post Attachment Firm</h2>
    <div class="form">
        <label for="name">Company Name :</label>
        <input type="text" name="name" placeholder="Enter company's name" required><br>
        
        <label for="email">Email :</label>
        <input type="text" name="email" placeholder="Enter company's email" required><br>

        <label for="location">Location :</label>
        <input type="text" name="location" placeholder="Enter company's location" required><br>

        <label for="description">Description :</label>
        <textarea id="firm_description" placeholder="Enter description" required></textarea><br>

        <label for="slots">Slots :</label>
        <input type="number" name="slots" placeholder="Enter no of slots" required><br>

        <button class="submit">Post Company</button>


    </div>
    <style>
        .form-section{
            background-color: #3bca36;
            align-self: center;
            border-radius: 5px;
            justify-content: center;
            height: 500px;
            width: 40%;
            margin: auto;
        }
        h2{
            text-align: center;
        }
        .form{
            display: flex;
            flex-direction: column;
        }
        .form label{
            font-family: Arial, Helvetica, sans-serif;
            font-size: large;
            font-weight: 400;
            margin-left: 40px;
        }
        .form input, textarea{
            color: #4545cf;
            margin-left: 40px;
            padding: 10px 20px;
            width: 60%;
            border: none;
            border-radius: 5px;
        }
        button{
            background-color: #007bff;
            border-radius: 3px;
            align-self: center;
            border: none;
            color: white;
            padding: 5px 3px;
        }
        button:hover{
            background-color: #0056b3;
        }


    </style>
</div>
{% endblock %}