{% extends 'base.html'%}
{% block content %}
   <div class="form-container">
    <h2>Post Attachment</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Post Attachment</button>
    </form>
   </div>
   <style>
      .form-container {
        background: white;
        padding: 30px;
        margin: 50px auto;
        width: 100%;
        margin-top: 100px;
        max-width: 400px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .form-container h2 {
        margin-bottom: 20px;
        text-align: center;
    }

    .form-containerform {
        display: flex;
        flex-direction: column;
    }

    .form-container form p {
        margin-bottom: 15px;
    }

    .form-container input {
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        border-radius: 5px;
    }

    .form-container button {
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        margin-top: 10px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 16px;
        
    }

    .form-container button:hover {
        background-color: #0056b3
    }

    .form-container-form p {
        text-align: center;
    }
  </style>

{% endblock %}