{% extends 'base.html'%}
{% block content %}
<div class="form-section" id="firmform">
    <h2>Post Attachment Firm</h2>
    <div id="firmPostFirm">
        <label for="name">Firm Name :</label>
        <input type="text" name="name" placeholder="Enter firm's name" required><br>
        
        <label for="email">Email :</label>
        <input type="text" name="email" placeholder="Enter firm's email" required><br>

        <label for="location">Location :</label>
        <input type="text" name="location" placeholder="Enter firm's location" required><br>

        <label for="description">Description :</label>
        <textarea id="firm_description" placeholder="Enter description" required></textarea><br>

        <label for="slots">Slots :</label>
        <input type="number" name="slots" placeholder="Enter no of slots" required><br>

        <button type="submit">Submit Firm</button>


    </div>
</div>
{% endblock %}