<!-- templates/services.html -->
{% extends "base.html" %}
{% block title %}Services{% endblock %}

{% block content %}
<style>
    .services {
        max-width: 800px;
        margin: 40px auto;
        padding: 20px;
        background: #ffffff;
        padding: 15px;
        margin-bottom: 15px;
        border-radius: 5px;
        border-left: 5px solid #007bff;
        border-bottom: 5px solid #007bff ;
        box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    }

    .services h2 {
        text-align: center;
        margin-bottom: 30px;
    }

    .services ul {
        list-style: none;
        padding: 0;
    }

    
</style>

<div class="services">
    <h2>Our Services</h2>
    <ul>
        <p>Our sevices include the following: <br><br>
        
            Handling account creation for the attachees, companies and the tenants,<br><br>
            <hr>
            Posting attachment opportunities for the attachees to apply.
            <br><br>
            <hr>
            Having the tenant post there rentals to easen the peocess of the attachees looking for places to stay while in there attachment.
            <br><br> 
            <hr>
            We aslo carry out tracking of the processes carried out by each user registered in the platform to ensure <br> that intrgrity is upheld and ensuring that the intented purpse of the platform is attained.
            <br><br><hr>
        </p>
    </ul>
</div>
{% endblock %}
