{% extends 'base.html' %}
{% block tittle%} Booked Rooms {% endblock %}

{% block content%}
  <div class="room-list">
    <h3>Booked Rooms</h3>
      <table class="room-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Room Id</th>
                <th>Date Booked</th>
                <th>Status</th>
                <th>Deposit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for b in bookings %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ b.room.room_id }}</td>
                <td>{{ b.move_in_date|date:"M d, Y" }}</td>
                <td>{{ b.house_post.room_status }}</td>
                <td>{{ b.house_post.rent }}</td>
                <td>
                    {% if room.status == 'booked' %}
                    <a href="{% url 'approve_booking' room.id%}" class="approve-btn">Approve</a>
                </td>
            </tr>
        </tbody>
        {% endif %}
        {% endfor %}
      </table>
  </div>
  <style>
.room-list {
    max-width: 1000px;
    margin: 100px auto;
    padding: 30px;
    margin-top: 150px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(0,0,0,0.1);
    font-family: 'Segoe UI', sans-serif;
}
.room-list h3 {
  text-align: center;
  margin-bottom: 30px;
  color: #2c3e50;
}

.room-table {
  width: 100%;
  border-collapse: collapse;
}

.room-table th,
.room-table td {
  padding: 12px 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

.room-table th {
  background-color: #f5f5f5;
  font-weight: 600;
  color: #333;
}

.room-table tr:hover {
  background-color: #f9f9f9;
}
.approve-btn{
    background-color: #05852b;
    border-radius: 5px;
    color: white;
    padding: 5px;
}.approve-btn:hover{
    background-color: #0a9c0a;
}
  </style>
{% endblock %}