{% extends 'base.html' %}
{% block content %}
<h3>Availble Rental Houses</h3>
<table class="table-container">
    <thead>
        <tr>
            <th>Owner</th>
            <th>Contact</th>  
            <th>Location</th>
            <th>Description</th>
            <th>Rent(Ksh)</th>
        </tr>
        <tbody>
       {% for house in houses %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ house.owner }}</td>
            <td>{{ house.contact }}</td>
            <td>{{ house.location }}</td>
            <td>{{ house.description }}</td>
            <td>{{ house.rent }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </thead>
</table>   
<style>
     .table-container{
        display: flex;
        justify-content: center;
        margin-top: 20px;
     }
     thead{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: blue;
     }
    .table{
        text-align: center;
        background-color: aqua;
        border-radius: 3px;
        width: 60%;
    }
    h3{
        text-align: center;
        color: forestgreen;
    }
    th {
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        color: white;
        background-color: green;
        border-collapse: collapse;
        justify-content: center;
        border-radius: 3px;
    }
    
    td {
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        color: white;
        background-color: rgb(250, 65, 250);
        border-collapse: collapse;
    }
</style>
{% endblock %}