<!-- templates/attachee/view_attachments.html -->
{% extends "base.html" %}
{% block title %}Available Attachments{% endblock %}

{% block content %}

<style>
.attachment-container {
    margin-top: 120px;
    background-color: #fff;
    border-radius: 8px;
}
h2 {
    text-align: center;
}
  .attachment-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px; 
    
}

  .attachment-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border: solid 5px #12c2ee;
    padding: 16px;
    transition: transform 0.3s ease;
  }

  .attachment-card:hover {
    transform: translateY(-5px);
  }

  .attachment-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
  }

  .attachment-info {
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 4px;
  }

  .tag {
    display: inline-block;
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 0.85rem;
    margin-top: 8px;
    color: white;
  }

  .tag-soon { background-color: red; }
  .tag-upcoming { background-color: green; }

  .attachment-link {
    display: inline-block;
    margin-top: 10px;
    color: #1e90ff;
    text-decoration: none;
    cursor: pointer;
  }
   .attachment-link:hover {
    text-decoration: underline;
  }
</style>
<div class="attachment-container">
    <h2>Availabe Attachments and Internships</h2>
    <div class="attachment-grid">
        {% for att in attachments %}
        <div class="attachment-card">
            <div class="attachment-title">{{ att.title }}</div>
            <div class="attachment-info">Company: {{ att.company }}</div>
            <div class="attachment-info">Location: {{ att.location }}</div>
            <div class="attachment-info">Description: {{ att.description }}</div>
            <div class="attachment-info">Deadline: {{ att.application_deadline }}</div>
            {% if att.application_link %}
                <div class="attachment-link">
                    <a href="{{ att.application_link }}" target="_blank" rel="noopener noreferrer">
                        Click here to apply
                    </a>
                </div>
            
            {% endif %}  
          {% empty %}
                <div class="attachment-info">No application link provided</div>
        {% endfor %}
      </div>
</div>

{% endblock %}
