{% extends "base.html" %}
{% block title %}Password Reset Complete{% endblock %}

{% block content %}

<div class="auth-page">

    <div class="auth-card">

        <div class="auth-header">
            <h4>Password Reset Complete</h4>
            <p>
                Your password has been successfully updated.
            </p>
        </div>

        <div class="auth-body">

            <p class="text-center">
                You can now sign in using your new password.
            </p>

            <a href="{% url 'login' %}" class="auth-btn-outline">
                Login
            </a>

        </div>

    </div>

</div>

{% endblock %}