{% extends "base.html" %}
{% block title %}New Password{% endblock %}

{% block content %}

<div class="auth-page">

    <div class="auth-card">

        <div class="auth-header">
            <h4>Set New Password</h4>
            <p>
                Enter your new password below and confirm it to complete the reset process.
            </p>
        </div>

        <div class="auth-body">

            <form method="POST" class="auth-form">
                {% csrf_token %}

                {% for field in form %}
                <div class="auth-group">

                    {{ field.label_tag }}

                    {{ field }}

                    {% if field.help_text %}
                        <small class="helptext">{{ field.help_text }}</small>
                    {% endif %}

                    {% for error in field.errors %}
                        <div class="text-danger small">
                            {{ error }}
                        </div>
                    {% endfor %}

                </div>
                {% endfor %}

                <button type="submit" class="auth-btn">
                    Change Password
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}