{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="about">
  <h2>About Us</h2>
  <div>
    <p>We are attachment linkers where by we major in linking attachment seakers with the appropriate atttachment providers. 
       Here an attachee is able to identify and choose an attachment from a variety of providers.
       The attachment providers are able to post the vaccancies within their firms in the website therefore enabling 
       the attachment seakers who are usually students from various institutions within the country to be able to apply for them in easily. 
       Again the website is focused in making it easy for attachees to get places of stay during their attachments since many of them 
       usually get attached at places which are quite far frm their learning institutions posing them to a 
       difficult situation of searching for accomodation bearing in mind that many find themselves in a new environment. 
       This is achieved by having the attachees indicating whether they have already found places of stay as well as indicating the cost of the rentals 
       simplyfying it for them to budget for their stay, they are also able to indicate whether they are in need of one to share the room with. 
       The tenants are also able to advatise thier rentals here making if simple for the attachees to get houses to rent.
  </p>
  </div>
  <div class="ctn-buttons">
      <a href="{% url 'accomodation' %}">
        <button>Book Houses</button>
      </a>
      <a href="{% url 'attachments' %}">
        <button>View Attachments</button>
      </a>
  </div>
</section>
<style>
  h2{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

  }
  p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: deeppink;
    text-align: center;
  }
  .ctn-buttons{
    text-align: center;
    gap: 50px;
  }
  button{
    background-color: rgb(42, 173, 59);
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
  }
   button:hover{
    background-color: fuchsia;
  }
</style>
{% endblock %}