{% extends 'base.html' %}
{% block content %}

  <style>
    .application-container{
        display: flex; 
        justify-content: center;
        margin-top: 20px;
     }
     thead{  
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: blue;
     }
    table{
        text-align: center;
        background-color: aqua;
        border-radius: 3px;
        width: 60%;
    }
    th {
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
        color: white;
        background-color: green;
        border-collapse: collapse;
        justify-content: center;
        border-radius: 3px;
    }
    
    td {
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        color: white;
        background-color: rgb(250, 65, 250);
        border-collapse: collapse;
    }
  </style>
  <div class="application_container">
    <h2>Attachment Applications</h2>
    <table>
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Phone_No</th>
                <th>Institution</th>
                <th>Gender</th>
                <th>Course</th>
                <th>Placed_Attached</th>
                <th>Rent</th>
            </tr>
        </thead>
        <tbody>
            {% for app in appplications %}
            <tr>
                <tr>{{ app.full_name }}</tr>
                <td>{{ app.phone_no }}</td>
                <td>{{ app.institution }}</td>
                <td>{{ app.gender }}</td>
                <td>{{ app.course }}</td>
                <td>{{ app.place_attached }}</td>
                <td>{{ app.rent }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No applications found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock %}